body{
    background-color: #24353F;
}
.bg-main{
    background-color: #24353F;
}
h1{
    color: #17A2B8;
}
#loginButton,#regButton{
    border: 1px solid #17A2B8;
    color: #17A2B8;
}
.nav-link {
    border: 1px solid #FFC107;
    color: rgba(255,255,255,.5 ) !important;
}
.nav-link:hover{
    background-color: #FFC107;
    color: #fff !important;
}
.shadow-lg{
    box-shadow: -5px 2px 54px -9px rgb(0 0 0) !important;
}
#cantLogin,#cantSignup,#wrongPassword{
    display: none;
}
